html {
    height: 100%;
}

body {
    /*font: 400 14px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji!important;*/
    font: 400 14px/1.5 Roboto, sans-serif !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 70% 30%;
}

button,
a.button {
    background-color: #fff;
    color: #3740ff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-style: solid;
    padding: 10px 15px;
    border-width: 1px;
    border-color: #3740ff;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: initial;
    text-transform: uppercase;
    width: fit-content;
}

button:hover,
a.button:hover {
    background: #0000000a;
}

button:active,
button:focus,
a.button:active,
a.button:focus {
    outline: none;
    text-decoration: none;
    background-color: #0000000a;
}

button.secondary {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    border-radius: 28px;
    padding: 0 20px;
    height: 56px;
}

button.primary {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    border-radius: 28px;
    padding: 0 20px;
    height: 56px;
    background: #2930ff;
    color: #fff;
}

button.primary:hover {
    background-color: #0032d6;
}

button.primary:focus,
button.primary:active {
    background: #053fff;
}

#canvas {
    width: 640px;
    height: 360px;
    border-radius: 5px;
    box-shadow: 0 0 14.4px 0 rgba(0, 0, 0, .132), 0 2.2px 3.6px 0 rgba(0, 0, 0, .108);
}

#output {
    border: 2px solid black;
    z-index: 999;
    width: 30px;
    height: 30px;
}

#preview-text {
    position: absolute;
    width: 640px;
    height: 360px;
    z-index: -1;
    background: #fff;
    color: #ccf;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 360px;
    border-radius: 5px;
}

.material-icons {
    display: none;
    margin-right: 10px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

#preview-area {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #efefff;
    z-index: -2;
}

#preview-area .material-icons {
    position: relative;
    bottom: -7px;
}

#form {
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    box-shadow: 30px 0 50px #0005;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}