body {
    margin: 0;
    font: 400 14px/1.5 Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
}

::selection {
    background-color: #ffd500;
    color: #000;
}

header {
    padding: 20px 20px;
    background: linear-gradient(45deg, #ffe561, #ffd500);
    text-align: center;
    font-size: 25px;
    font-family: 'Berkshire Swash', serif;
}

nav {
    z-index: 999999999;
    padding: 10px 40px;
    position: sticky;
    top: 0;
    background-color: #fffffffc;
    backdrop-filter: blur(20px) saturate(180%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 0px solid #333333;
    box-shadow: 0 0 0 2px #fff;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 200ms linear;
}

nav a :not(:nth-of-type(2)) {
    cursor: pointer;
}

nav a:not(:nth-of-type(2)):hover {
    color: #fa6400;
}

main {
    display: flex;
    justify-content: center;
}

#main-list {
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    list-style-type: none;
    width: 95%;
    padding: 0;
}

#main-list li {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #dadce0;
    height: 400px;
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    align-items: center;
    overflow: hidden;
    transition: all 180ms ease, border 0s linear;
    cursor: pointer;
}

.person {
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-size: 10px;
    text-align: center;
}

#main-list li:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .1),
        0px 2px 3px rgba(0, 0, 0, .12),
        0px 1px 3px rgba(0, 0, 0, .14);
    transform: translateY(-1px);
    border-width: 0px;
}

.icon {
    height: 50%;
    width: 100%;
    object-fit: contain;
    user-select: none;
}

.title {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

#show-on-scroll {
    font-size: 25px;
    opacity: 0;
    transition: opacity 200ms ease-in;
    font-weight: bold;
}

h1 {
    margin: 0;
    color: #ff3c00;
}

footer {
    display: none;
}

@media print,
screen and (max-width: 750px) {
    #main-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media print,
screen and (max-width: 600px) {
    nav {
        justify-content: center;
    }

    nav :not(:nth-child(2)) {
        display: none;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        flex-direction: row;
        padding: 20px 10px;
    }

    footer a {
        text-decoration: none;
        color: #000;
    }
}

@media print,
screen and (max-width: 490px) {
    #main-list {
        grid-template-columns: 1fr;
    }

    nav {
        font-size: 10px;
    }
}